*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #34211B;
}
h1, h6{
    text-align: center;
}
h1{
    letter-spacing: -0.75px;
    line-height: 5px;
    text-align: center;
    width: 86%;
    margin: auto;
    padding: 10px 0 8px;
    margin-bottom: 2%;
}
.mowi a{
    float: center;
    color: #F6D4BA;
    font-weight: bold;
    text-align: center;
    /* padding: 10px 0 8px; */
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 60px;
    font-weight: 900;
} 
.mowi a:hover {
    color: #F6D4BA;
    text-decoration: none;
}
.mowi a.active {
    color: #F6D4BA;
    text-decoration: none;
}
h6{
    color: #C89595;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    /* margin-bottom: 17px; */
}
/* main{
    margin-top: 15px;
} */
hr{
    width: 70%;
    align-items: center;
    border: 2px solid #C89595;
    background-color: #866754;
}
.topnav {
    background-color: #866754;
    overflow: hidden;
    position: sticky;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 20px;
    top: 0px;
}
.topnav a {
    float: center;
    color: #FCFCF9;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    background-color: #866754;
} 
.topnav a:hover {
    color: black;
    background-color: #D09A80;
}
.topnav a.active {
    color: black;
}
.welcome{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 17px;
    color: #FCFCF9;
}
.welc-2{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 0%;
    color: #F6D4BA;
}

.tags-mov{
    font-weight: 600;
    padding-left: 15px;
    color: #D09A80;
    font-weight: bold;
}
.movie-rec1{
    display: flex;
}
img{
    height: 250px;
    border-radius: 2%;
}
.mov-1{
    flex: 30%;
    font-weight: 500;
    margin-left: 20px;
}
.mov-2{
    flex: 30%;
    font-weight: 500;
    margin-left: 20px;
}
.mov-3{
    flex: 30%;
    font-weight: 500;
    margin-left: 20px;
}
.mov-title{
    text-align: center;
}
.mov-title a{
    float: center;
    color: #F6D4BA;
    font-weight: bold;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 15px;
    /* padding: 15px; */
} 
.mov-title a:hover {
    color: #F6D4BA;
}
.mov-title a.active {
    color: #F6D4BA;
}
@media screen and (max-width:1000px){
    nav a{
        flex-direction: column;
        width: 100%;
        padding: auto;
    }
    img{
        max-width: 300px;
    }
    footer{
        flex-direction: column;
        width: 100%;
        padding: auto;
    }
    
}
footer {
    background-color: #34211B;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10 0 0 0;
    color: #A4806B;
}

.owi-footer{
    height: 85px;
}

.kolom-1 {
    flex: 30%;
    margin-left: 20px;
}

.kolom-2{
    flex: 30%;
    margin-left: 20px;
}

.kolom-3{
    flex: 30%;
    margin-left: 20px;
}

.kolom-4{
    flex: 30%;
    margin-left: 20px;
}
